.material-icons.md-10 { font-size: 10px; }
.material-icons.md-12 { font-size: 12px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-22 { font-size: 22px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; margin: 0px 5px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


.load {
    width: 24px;
    height: 24px;
    text-align: center;
    border: 3px solid white;
    margin: 0 auto;
    border-left-color: #28a745;
    border-radius: 50%;
    animation: spin 1s infinite;
}

.load-100 {
    width: 100px;
    height: 100px;
    text-align: center;
    border: 5px solid white;
    margin: 0 auto;
    margin-top: 300px;
    border-left-color: #28a745;
    border-radius: 50%;
    animation: spin 1s infinite;
}

@keyframes spin{
    to { transform: rotate(360deg);}
}

#linkArquivo{
    padding: 8px 0;
    margin: 0 auto;
    text-align: center;
}
.evento{
    cursor: pointer;
}
a.hover-conteudo:hover{
    background-color: white;
    color: black !important;
}

.bg-success{
    background-color: rgba(1, 70, 17, 1.6) !important;
}

.bg-info{
    background-color: rgba(70, 105, 111, 1) !important;
}

.nav-tabs .nav-link {
    border: 1px solid transparent !important;
    border-top-left-radius: .25rem !important;
    border-top-right-radius: .25rem !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-link.active {
    color: #f8f9fa !important;
    background-color: #014611 !important;
    border-color: #dee2e6 #dee2e6 #fff !important;
    font-size: 20px !important;
}

#fluxoDeCaixa{
    margin: 5px 10px;
}

.FluxoCaixaLabel:hover{
    cursor: pointer;
}
.iconeFluxoCaixa{
    padding: 1px;
    margin-top: 3px;
    font-size:14px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}

.spanInfo{
    font-size: "11px";
    font-style: italic;
    text-decoration: underline;
    width: 100%;
}

#divLogin{
    margin: 0 auto;
    height: 100%;
    width: 600px;
    margin-top: 20px;
    
}

#divLogin form{
    border: 1px solid #ccc;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.54);
}

#divLogin form .form-control{
    padding: 5px 10px !important;
}

#navegacaoMes{
    font-size: 14px;
    text-align: center;
    color: #28a745;
    max-width: 220px;
    background-color: #ffffff;
    border-radius: 25px;
    padding: 5px;
    font-weight: bold;

}

#navegacaoMesAnt{
    background-color: white;
    color: #28a745;
    font-size: 22px;
    padding: 1px;
    float: left;
    border-right: none;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
    margin: 0;
    cursor: pointer;
}

#navegacaoMesAnt:hover{
    background-color: #28a745;
    color: white;
}

#navegacaoMesPos{
    background-color: white;
    color: #28a745;
    font-size: 22px;
    padding: 1px;
    border-left: none;
    float: right;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    cursor: pointer;
}

#navegacaoMesPos:hover{
    background-color: #28a745;
    color: white;
}

#manterLancamento{
    color: white;
}

#atualizarLista{
    width: 60px;
}

.resumoValores{
    border: 1px solid #28a745;
    border-radius: 10px;
    cursor: pointer;
    color: #28a745;
    background-color: white;
    padding: 4px 10px;
    max-width: 200px;
    display: inline;
    margin: 2px;
}