.material-icons.md-10 { font-size: 10px; }
.material-icons.md-12 { font-size: 12px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-22 { font-size: 22px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; margin: 0px 5px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }


.load {
    width: 100px;
    height: 100px;
    top: 30%;
    left: 45%;
    color: black;
}
.load-10{
    width: 10px;
    height: 10px;
    color: black;
}

.load-40{
    width: 40px;
    height: 40px;
    font-size: 9px;
    padding: 8px 0;
    margin: 0 auto;
}

#linkArquivo{
    padding: 8px 0;
    margin: 0 auto;
    text-align: center;
}
.evento{
    cursor: pointer;
}
a.hover-conteudo:hover{
    background-color: white;
    color: black !important;
}

.bg-success{
    background-color: rgba(1, 70, 17, 1.6) !important;
}

.bg-info{
    background-color: rgba(70, 105, 111, 1) !important;
}

.nav-tabs .nav-link {
    border: 1px solid transparent !important;
    border-top-left-radius: .25rem !important;
    border-top-right-radius: .25rem !important;
}

.nav-tabs .nav-item.show .nav-link, .nav-link.active {
    color: #f8f9fa !important;
    background-color: #014611 !important;
    border-color: #dee2e6 #dee2e6 #fff !important;
    font-size: 20px !important;
}

#fluxoDeCaixa{
    margin: 5px 10px;
}

.FluxoCaixaLabel:hover{
    cursor: pointer;
}
.iconeFluxoCaixa{
    padding: 1px;
    margin-top: 3px;
    font-size:14px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.3);
}

.spanInfo{
    font-size: "11px";
    font-style: italic;
    text-decoration: underline;
    width: 100%;
}

#divLogin{
    margin: 0 auto;
    height: 100%;
    width: 600px;
    margin-top: 20px;
    
}

#divLogin form{
    border: 1px solid #ccc;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0px 4px rgba(0, 0, 0, 0.54);
}

#divLogin form .form-control{
    padding: 5px 10px !important;
}